{% extends 'base.html' %}
{% load static %}
{% block about %}
    <section class="about container py-5">

        <div class="row align-items-center">
            <div class="col-12 col-md-6 col-lg-6">
                <img class="w-100" src="{% static 'image/discount.jpg' %}" alt="">
            </div>
            <div class="col-12 col-md-6">
                <h1>About Us</h1>
                <p>
                    <h5>This business was in 2015, and now today after 5 years we have come a long way in very span of
                        time. There are 150+ brands and almost 100 and above different products and there are also n
                        number of sub categories under those products. Today this business is privileged to connect with
                        lakhs of customer, our mission is to inspire and nurture the human spirit - " Be confident And
                        Be Graceful".We have always believed in providing the best possible products and services. It's
                        our goal for all over products to be sold under the highest standard of quality.</h5>
                </p>
            </div>
        </div>
    </section>

{% endblock %}























    <!-- <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2> QUICK LINKS </h2>
                <a href="#">About</a>
                <a href="#">Service</a>
                <a href="#">Contact</a>
            </div>
            <div class="footer-heading footer-2">
                <h2>ACCOUNTS </h2>
                <a href="#">My Account</a>
                <a href="#">Order Tracking</a>
                <a href="#">Whishlist</a>

            </div>
            <div class="footer-heading footer-3">
                <h2>SUPPORT </h2>
                <a href="#">Terms And Conditions</a>
                <a href="#">Privacy Policy</a>
                <a href="#">24/7 Support</a>
            </div>
            <div class="footer-email-form">
                <h2> JOIN OUR SITE</h2>
                <input type="email" placeholder="Enter your email address" id="footer-email">
                <input type="submit" value="Sign Up" id="footer-email-btn">
            </div>
        </div>
    </div>



</body>


</html> -->