{% extends 'base.html' %}

{% load static %}

{% block contact %}
    
    <section class="footer_get_touch_outer">
        <div class="container">
          <div class="footer_get_touch_inner grid-70-30">
            <div class="colmun-70 get_form">
              <div class="get_form_inner">
                <div class="get_form_inner_text">
                 <h3>Contact Us!!</h3>
                </div>
                <form action="" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="asd" value="2">
                  <div class="grid-50-50">
                    <label>Name :</label>
                    <input type="text"  name="firstname"  placeholder="First Name" required>
                    <label>Last Name:</label>
                    <input type="text"  name="lastname" placeholder="Last Name" required>
                    <label>Email :</label>
                    <input type="email"  name="email" placeholder="Email" required>
                    <label>Phone :</label>
                    <input type="tel"  name="number" placeholder="Phone"required>
                    <label>Comments:</label>
                    <textarea placeholder="Add Your Comments"name="text" cols="20" rows="4"></textarea>
                  </div>
                  <div class="grid-full">
                    <input type="submit" value="Submit">
                  </div>
                </form>
              </div>
            </div>
            <div class="colmun-30 get_say_form">
              <h5>Hello There!</h5>
              <ul class="get_say_info_sec">
                <li>
                  <i class="fa fa-envelope"></i>
                  <a href="mailto:">krunalsharma3131@gmail.com</a>
                </li>
                <li>
                  <i class="fa fa-whatsapp"></i>
                  <a href="tel:">+91 6355053356</a>
                </li>
                
              </ul>  
              <ul class="get_say_social-icn">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>          
            </div>        
          </div>
        </div>
      </section>


      {% endblock %}