{% extends 'base.html' %}

{%load static %}

{% block feedback %}


<br>
    <center> <h1 style="color:rgb(25, 0, 255);">Feed Back Form : </h1>   </center> <br>
<div class="container">    
  <form method="POST">   
    {% csrf_token %}
    <div class="row">    
      <div class="col-25">    
        <label for="fname">First Name </label>    
      </div>    
      <div class="col-75">    
        <input type="text" id="fname" name="firstname" placeholder="Your name.." required>    
      </div>    
    </div>    
    <div class="row">    
      <div class="col-25">    
        <label for="lname">Last Name</label>    
      </div>    
      <div class="col-75">    
        <input type="text" id="lname" name="lastname" placeholder="Your last name.."required>    
      </div>    
    </div>    
    <div class="row">    
        <div class="col-25">    
          <label for="email">Mail Id</label>    
        </div>    
        <div class="col-75">    
          <input type="email" id="email" name="mailid" placeholder="Your mail id.."required>
        </div>    
      </div>    
    
    <div class="row">    
      <div class="col-25">    
        <label for="feed_back">Feedback</label>    
      </div>    
      <div class="col-75">    
        <textarea id="subject" name="text" placeholder="Write something.." style="height:200px"></textarea>    
      </div>    
    </div>    
    <div class="row">    
      <input type="submit" value="Submit">    
    </div>    
  </form>    
</div>    

    





{% endblock %}



  